@model Laba1VM


<div class="card-body p-4">
    <form method="post" class="row text-body-secondary">
        <div class="container d-flex justify-content-center align-items-center">
            <h5>Lab1 Task</h5>
        </div>
        <div class="container row">
            <div class="container col-8">
                <label for="arrayInput" class="m-1">Enter Array in following way: </label>
                <input asp-for="ArrayString" class="form-control border-2" placeholder="element1 element2 element3 ... elementN">
            </div>
            <div class="container col-4">
                <div class="form-group">
                    <label for="exampleSelect1" class="form-label">Example select</label>
                    <select asp-items="@Model.Types" class="form-select border-2" id="exampleSelect1">
                        <option disabled selected>--Select Type--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="container row mt-2">
            <div class="container col-4 p-3 m-0">
                <button type="submit" class="btn btn-dark text-warning">Submit</button>
            </div>
            <div class="container col-8 p-3 m-0 d-flex align-items-center">
                <div class="form-check form-switch m-0">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Calculate custom task</label>
                </div>
            </div>
        </div>
    </form>
</div>


