@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my tiny site for demonstration laboratory works on "Algorithms and data structures"</p>
</div>
