


<div class="container row">
    <div class="container col-7 d-flex align-items-center row">
        <div class="text-body-secondary bg-body-secondary p-2 rounded col-5 m-3" style="border: solid 2px grey;">
            <form asp-action="Enqueue" method="post" class="row d-flex justify-content-between align-content-center" style="width:fit-content">
                <div class="container col-4">
                    <label class="m-1">Item</label>
                    <input class="form-control border-2" required />
                    <span class="text-danger"></span>
                </div>
                <div class="container col-4 d-flex align-items-end">
                    <button type="submit" class="btn btn-dark text-warning">Add</button>
                </div>

            </form>
        </div>
        <div class="text-body-secondary bg-body-secondary p-2 rounded col-5 m-3" style="border: solid 2px grey;">
            <form asp-action="Enqueue" method="post" class="row d-flex justify-content-between align-content-center" style="width:fit-content">
                <div class="container col-4">
                    <label class="m-1">Element</label>
                    <input class="form-control border-2" required />
                    <span class="text-danger"></span>
                </div>
                <div class="container col-4 d-flex align-items-end">
                    <button type="submit" class="btn btn-dark text-warning">Find</button>
                </div>

            </form>
        </div>
        <div class="text-body-secondary bg-body-secondary p-2 rounded col-12 d-flex justify-content-start" style="border: solid 2px grey;">
            <div class="container col-2 d-flex align-items-center m-0">
                <div class="container">
                    <button type="submit" class="btn btn-dark text-warning">Traverse</button>
                </div>
            </div>
            <div class="container col-10 d-flex align-items-center m-0">
                <div class="container text-center">
                    <b>12</b> -> 1234 -> 245
                </div>
            </div>
        </div>
        <div class="text-body-secondary bg-body-secondary p-2 rounded col-12 d-flex justify-content-start mt-3" style="border: solid 2px grey;">
            <div class="container col-6 d-flex align-items-center m-0">
                <form asp-action="Enqueue" method="post" class="row d-flex justify-content-between align-content-center" style="width:fit-content">
                    <div class="container col-6">
                        <label class="mb-1">Element</label>
                        <input class="form-control border-2" required />
                        <span class="text-danger"></span>
                    </div>
                    <div class="container d-flex align-items-end col-6">
                        <button type="submit" class="btn btn-dark text-warning w-100">Find</button>
                    </div>

                </form>
            </div>
            <div class="container col-6 d-flex align-items-center m-0">
                <div class="container text-center">
                    <b>Parent:</b> 2<br />
                    <b>Children:</b> 1, 2
                </div>
            </div>
        </div>
    </div>
    <div class="container col-5">
        <div class="container" id="targetDiv" style="height: fit-content;"></div>
    </div>
</div>


@section Scripts{
    <script src="~/js/tree.js"></script>
    <script>
        DrawTree(1);
    </script>
}





